<!-- footer begin -->
<footer class="style-2 footer-exhibiz">
  <div class="container">
    <div class="row mt-4">
      <div class="col text-start">
        <h6 class="footer-title text-light"><strong>Sitio web</strong></h6>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.uazuay.edu.ec/sitemap" target="_blank">Mapa de sitio</a></li>
        </ul>
      </div>

      <div class="col text-start">
        <h6 class="footer-title text-light"><strong>Contáctenos</strong></h6>
        <ul class="list-unstyled text-small">
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/acerca-uda/contacto-uda" target="_blank">Contacto UDA</a></li>
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/acerca-uda/direccion-mapas" target="_blank">Mapa y dirección</a></li>
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/acerca-uda/redes-sociales" target="_blank">Redes sociales</a></li>
        </ul>
      </div>

      <div class="col text-start">
        <h6 class="footer-title text-light"><strong>Servicios web</strong></h6>
        <ul class="list-unstyled text-small">
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/bibliotecas" target="_blank" title="Bibliotecas">Bibliotecas</a></li>
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/portal/" target="_blank" title="Portal">Portal</a></li>
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/correo-electronico" target="_blank" title="Correo">Correo</a></li>
          <li style="margin-bottom: 0px;"><a class="text-muted" href="https://www.uazuay.edu.ec/acerca-uda/redes-wifi" target="_blank" title="Red wifi">Red wifi</a></li>
        </ul>

      </div>
      <div class="col text-start">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="footer-title text-light"><strong>Conecta</strong></h6>
            <div class="social-icons">
                <a class="wow fadeInUp" target="_blank" href="https://www.facebook.com/uazuay" rel="noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="wow fadeInDown" target="_blank" href="https://www.instagram.com/accounts/login/?next=/uda.oficial/" rel="noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="wow fadeInUp" target="_blank" href="https://twitter.com/uazuay/" rel="noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
                    </svg>
                </a>
                <a class="wow fadeInDown" target="_blank" href="https://www.youtube.com/channel/UCUkESMoN6-hBdvh5bRrmLKQ" rel="noreferrer"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a class="wow fadeInUp" target="_blank"  href="https://radiouda.uazuay.edu.ec/servicios/radiouda/"><i class="fa fa-microphone" aria-hidden="true"></i></a>
                <a class="wow fadeInDown" target="_blank" href="https://www.uazuay.edu.ec/acerca-uda/uda-app"><i class="fa fa-th" aria-hidden="true"></i></a>

            </div>
          </div>
        </div>

      </div>

      <div class="col">
        <img src="{{ site_logo }}" class="img-fluid mx-auto d-block" alt="{{ 'Home'|t }}" width="255" height="69" >
      </div>
    </div>
  </div>
  <a href="#" id="back-to-top" class="custom-1"></a>
</footer>
