<div class="col-lg-4 col-12 wow fadeIn" data-wow-delay="0s">
  <div class="box-number square">
    <i class="bg-color hover-color-2 fa {{ fields.field_tem_icono.content }} text-light"></i>
    <div class="text">
      <h3 style="padding-top: 10px;"><span style="font-size: 1.25rem;">{{ fields.title.content }}</span></h3>
      <div class="lead">{{ fields.body.content }}</div>
    </div>
  </div>
</div>
