<div class="col col-6 wow fadeIn" data-wow-delay=".5s">
  <div class="de_count" >
    <i class="{{ fields.field_car_icono.content }} id-color-2"></i>
    <h3>{{ fields.field_car_icono.content }}</h3>
    <span class="text-white">{{ fields.title.content }}</span>
  </div>
</div>
