<div class="col" >
  <img class="img-fluid mx-auto d-block" src="{{ fields.field_ods_imagen.content }}" alt="{{ fields.title.content }}" >
  <p class="h6 text-center mt-3">{{ fields.title.content }}</p>
</div>
